.big-card-container {
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card-title > h1{
    font-size: 20px;
    margin-top: 5px;
}

.big-card-img > img{
    width: 100%;
    min-width: 400px;
}

.big-card-description{
    margin-top: 10px;
}

.big-card-description > p > a {
    
    color: gray;
}

@media screen and (max-width:1080px){
    .big-card-container{
        height: 310px;
    }
}