.content-container{
    width: 100%;
    height: 100vh;

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content-cover > img {
    border: solid 5px rgb(144,144,144);
    border-radius: 5px;
    width: 100%;
    min-width: 100%;
    height: 100%;
}

.content-description{
    margin-top: 15px;
}

.content-description > p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(196, 196, 196);
}