
<app-menu-title></app-menu-title>

<div class="articles-container">
    <div class="articles-main">
        <app-big-card Id="1" photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Smolder_0.jpg"
        cardDescription="Smolder, o novo campeão é lançado em League of Legends"
        cardTitle="Novo campeão lançado"></app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card Id="2"
         photoCover="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/09/11/loud-cblol-soq7o8m1waci.jpg" cardTitle="LOUD é tricampeã"></app-small-card>
    </div>
</div>
